@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url(/public/background.png);

}

#container {
    border-radius: 50px;
    padding: 100px;
    background: rgba(27, 27, 27, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#discord {
    background: rgba(255, 255, 255, 0.07);
}

* {
    color: white;
}